{% extends "basic/layout.html" %}

{%- block doctype -%}
<!DOCTYPE html>
{%- endblock -%}

{%- macro topbar() %}
{% include "topbar.html" %}
{%- endmacro %}


{%- macro foundation_sidebar() %}
  {#
    A side bar with ZURB Foundation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Features logo, responsive stuff and fancy tricks.
   #}
  {%- if render_sidebar %}
  <div class="small-4 large-3 columns" id="sidebar" data-sticky-container>
  <div class="sticky" data-sticky data-margin-top="0">
    {%- block sidebarlogo %}
    {%- if logo %}
      <p class="logo"><a href="{{ pathto(master_doc) }}">
        <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
      </a></p>
    {%- endif %}
    {%- endblock %}
    {%- for sidebartemplate in sidebars %}
      {%- include sidebartemplate %}
    {%- endfor %}
  </div>
  </div>
  {%- endif %}
{%- endmacro %}

{%- macro foundation_relationbar() %}
  <div class="row">
    <div class="small-8 large-9 columns">
      <nav class="related" 
           role="navigation" 
           aria-label="related navigation">
        <ul class="breadcrumbs">
          {%- block rootrellink %}
          <li class="nav-item nav-item-0">
            <a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>
          </li>
          {%- endblock %}
          {%- for parent in parents %}
            <li class="nav-item nav-item-{{ loop.index }}">
              <a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a>
            </li>
          {%- endfor %}
          {%- block relbaritems %} {% endblock %}
        </ul>
      </nav>
    </div>
    <div class="small-4 large-3 columns">
      <ul class="pagination" role="navigation" aria-label="Pagination">
      {%- for rellink in rellinks %}
        <li {% if loop.first %}style="margin-right: 10px"{% endif %}>
          <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags|e }}"
           {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a>
        </li>
        {%- if not loop.first and not loop.last %}
          <li aria-hidden="true">{{ reldelim2 }}</li>
        {% endif %}
      {%- endfor %}
      </ul>
    </div>
  </div>
{%- endmacro %}

{%- block relbar1 %}{% endblock %}

{%- block content %}
{{ topbar() }}
<div class="row">
  {%- block sidebar1 %}
  {%- if not theme_rightsidebar|tobool %}{{ foundation_sidebar() }}{%- endif %}
  {%- endblock %}

  {%- block document %}
    <div id="content" class="small-8 large-9 columns">
      {% block body %} {% endblock %}
    </div>
  {%- endblock %}

  {%- block sidebar2 %}
  {%- if theme_rightsidebar|tobool %}{{ foundation_sidebar() }}{%- endif %}
  {%- endblock %}
</div>
{%- endblock %}

{%- block relbar2 %}</br>{{ foundation_relationbar() }}{% endblock %}

{%- block footer %}
<div class="top-bar row column">
{{ super() }}
</div>
    <!-- <script> $(document).foundation() </script> -->
{%- endblock %}
